[Unit]
Description=Example Python Daemon
After=network.target

[Service]
User=pgrimes
Type=simple
Environment=PYTHONUNBUFFERED=1
KillSignal=SIGINT
ExecStart=/usr/bin/python /home/pgrimes/Software/GitHub/Example-Python-Daemon/example-daemon.py

[Install]
WantedBy=multi-user.target
