[Unit]
Description=Example Python Daemon

[Service]
Type=notify
Environment=PYTHONUNBUFFERED=1
KillSignal=SIGINT
ExecStart=/usr/bin/python3 /home/pgrimes/Software/GitHub/Example-Python-Daemon/example-daemon.py

[Install]
WantedBy=default.target
