[Unit]
Description=Example SMAX Daemon

[Service]
Type=notify
NotifyAccess=all
Environment=PYTHONUNBUFFERED=1
KillSignal=SIGINT
WorkingDirectory=/home/pgrimes/.config/systemd/example-smax-daemon
ExecStart=/home/pgrimes/.config/systemd/example-smax-daemon/on-start.sh

[Install]
WantedBy=default.target
