[Unit]
Description=Example SMAX Daemon
After=network-online.target
Requires=network-online.target

[Service]
Type=notify
NotifyAccess=all
User=smauser
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/usr/local/lib/example-smax-daemon
# ExecStartPre = /bin/nm-online -q
ExecStart=/usr/local/lib/example-smax-daemon/on-start.sh

[Install]
WantedBy=multi-user.target
